body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 500px;
}

header nav {
    height: 100px;
    background-color: white;
    box-shadow: none;
}

nav .brand-logo {
    height: 100px;
}

nav .brand-logo img {
    height: 100px;
}

header nav ul {
    height: 100px;
}

.header-main-pic {
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.input-field.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
}

.input-field>#search {
    margin-top: 25px;
}

.input-container i {
    margin-top: 45px;
    margin-right: 15px;
}

footer.page-footer {
    height: 80px;
    background-color: #f06292;
    bottom: 0;
}